<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>



<!-- NAVIGATION -->
<div th:replace="~{navbar :: navbar}"></div>

<!-- MAIN CONTENT -->
<div class="main">
    <div class="box"></div>
    <div class="circle"></div>
</div>

<script>
    function goTo(page) {
        // For now just logs — later connect to real routes
        console.log("Navigate to:", page);

        // Example for later:
        // window.location.href = "/" + page;
    }
</script>

</body>
</html>