<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Effort Tracking</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body class="tracking">
<div th:replace="~{navbar :: navbar}"></div>



<h2>Effort Tracking</h2>

<table border="1" cellpadding="10">
    <tr>
        <th>Requirement</th>
        <th>Analysis</th>
        <th>Design</th>
        <th>Coding</th>
        <th>Testing</th>
        <th>Management</th>
    </tr>

    <tr>
        <td>Req 1</td>
        <td><input type="number" name="analysisHours"></td>
        <td><input type="number" name="designHours"></td>
        <td><input type="number" name="codingHours"></td>
        <td><input type="number" name="testingHours"></td>
        <td><input type="number" name="managementHours"></td>
    </tr>

</table>

<button>Save</button>

</body>
</html>