<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="~{navbar :: navbar}"></div>

<div class="container">

    <div class="sidebar">
        <h3>Projects</h3>
        <div th:each="p : ${projects}">
            <a th:href="@{'/project/' + ${p['id']}}" th:text="${p['name']}"></a>
            <button th:onclick="|window.location.href='/delete/' + ${p['id']}|">X</button>
        </div>
    </div>

    <div class="main">
        <h1 th:text="${selectedProject != null ? selectedProject['name'] : 'No Project'}"></h1>
        <p th:text="${selectedProject != null ? selectedProject['owner'] : ''}"></p>

        <a th:if="${selectedProject != null}" th:href="@{'/requirements/' + ${selectedProject['id']}}">Requirements</a>
        <a th:if="${selectedProject != null}" th:href="@{'/risks/' + ${selectedProject['id']}}">Risks</a>
        <a th:if="${selectedProject != null}" th:href="@{'/effort/' + ${selectedProject['id']}}">Effort</a>


        <form action="/project/create" method="post">
            <input name="name" placeholder="Project Name">
            <input name="owner" placeholder="Owner">
            <input name="description" placeholder="Description">
            <button>Create</button>
        </form>

    </div>

</div>



</body>
</html>