<div th:fragment="navbar">
    <div class="header">
        <div class="logo">
            <img src="logo.png" alt="Logo">
        </div>
    </div>

    <div class="nav">
        <button onclick="window.location.href='/'">Dashboard</button>
        <button th:if="${projectId != null}" th:onclick="|window.location.href='/project/' + ${projectId}|">Projects</button>
        <button th:if="${projectId != null}" th:onclick="|window.location.href='/requirements/' + ${projectId}|">Requirements</button>
        <button th:if="${projectId != null}" th:onclick="|window.location.href='/risks/' + ${projectId}|">Risks</button>
        <button th:if="${projectId != null}" th:onclick="|window.location.href='/effort/' + ${projectId}|">Effort</button>
        <button th:if="${projectId != null}" th:onclick="|window.location.href='/summary/' + ${projectId}|">Summary</button>
    </div>
</div>