<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project Info</title>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div th:replace="~{navbar :: navbar}"></div>


<div class="container">
    <div class="form-box">
        <h2>Project Information</h2>

        <div class="form-group">
            <input type="text" name="projectName" placeholder="Project Name">
        </div>

        <div class="form-group">
            <textarea name="description" placeholder="Project Description"></textarea>
        </div>

        <div class="form-group">
            <input type="text" name="owner" placeholder="Project Owner">
        </div>

        <div class="form-group">
            <input type="text" name="teamMembers" placeholder="Team Members (comma separated)">
        </div>

        <div class="form-group">
            <textarea name="risks" placeholder="Project Risks"></textarea>
        </div>

        <button class="submit">Save Project</button>
    </div>
</div>

</body>
</html>