<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Summary</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body class="summary">

<div th:replace="~{navbar :: navbar}"></div>


<h2>Project Summary</h2>

<p>Total Analysis Hours: 0</p>
<p>Total Design Hours: 0</p>
<p>Total Coding Hours: 0</p>
<p>Total Testing Hours: 0</p>
<p>Total Management Hours: 0</p>

<label>
    <input type="checkbox" name="complete">
    Project Complete
</label>

</body>
</html>