<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Requirements</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div th:replace="~{navbar :: navbar}"></div>


<div class="container">
    <h2>Requirements</h2>

    <input type="text" name="requirement" placeholder="Enter requirement">

    <select name="type">
        <option value="functional">Functional</option>
        <option value="nonfunctional">Non-Functional</option>
    </select>

    <button>Add Requirement</button>

    <ul>
        <li>Requirement 1</li>
        <li>Requirement 2</li>
    </ul>
</div>

<script>
    function goTo(page){
        window.location.href = "/" + page;
    }
</script>

</body>
</html>